<!DOCTYPE html>
<html>
    <head>
        <title>Light Loop Pi</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-slider.css"/>
        <link rel="stylesheet" href="/static/css/main.css"/>
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/underscore-min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script>
        function load_data() {

        };

        function save_data(data) {

        }

        $(document).ready(function() {
            $('#save-btn').click(function() {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "data": $('#sequences-area').val() + '\n\n' + $('#composition-area').val()
                    }),
                    dataType: 'json',
                    url: '/data',
                });
            });
        });
        </script>
    </head>
    <body>
        <div class="container">
            <h1>Light Loop Pi</h1>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button id="save-btn" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
                
            <div class="row">
                <div class="col-md-6">
                    <h2>Sequences</h2>
                    <textarea id="sequences-area" cols="60" rows="20"></textarea>
                    <h4>Sequence Format</h4>
                    <pre>
# sequence_name
000000000000111111111111
010101010101010101010101
111111111111111111111111
111111111111000000000000
000000000000111111111111
010101010101010101010101
111111111111111111111111
111111111111000000000000
                    </pre>
                    <p>Rules: no spaces in name, same number of rows, all rows same length</p>
                </div>
                <div class="col-md-6">
                    <h2>Composition</h2>
                    <textarea id="composition-area" cols="80" rows="20"></textarea>
                    <h4>Composition Format</h4>
                    <pre>
# composition
blinking,blinking,off,off
on,on,blinking,on
on,off,fade,fade

                    </pre>
                    <p>Rules: all rows same length of sequences</p>
                </div>
            </div>
        </div>
    </body>
</html>
