<!DOCTYPE html>
<html>
    <head>
        <title>Light Loop Pi</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <script src="/static/js/jquery-2.1.1.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Light Loop Pi</h1>
            <div class="light-row">
                <button type="button" class="btn btn-success" data-toggle="button">&nbsp;</button>
                <button type="button" class="btn btn-success" data-toggle="button">&nbsp;</button>
                <button type="button" class="btn btn-success" data-toggle="button">&nbsp;</button>
                <button type="button" class="btn btn-success" data-toggle="button">&nbsp;</button>
            </div>
        </div>
    </body>
</html>
